<form
        class="inline"
        method="POST"
        action="{{ kissj_base_url ~ 'v3/entry/participant/' ~ pButtons.id }}"
        onclick="sendEntryRequest(this, {{ pButtons.id }})"
>
    <input type="submit" class="btn
    {% if not pButtons.sfh or pButtons.entryStatus != 'valid' %}
        disabled" disabled="disabled
    {% endif %}
    " value="Samostatný vstup">
    <span class="formResult">✈</span>
</form>
{{ dump(pButtons.entryStatus) }}
<form
        class="inline"
        method="POST"
        action="{{ kissj_base_url ~ 'v3/leave/participant/' ~ pButtons.id }}"
        onclick="sendEntryRequest(this, {{ pButtons.id }})"
>
    <input type="submit" class="btn
    {% if pButtons.entryStatus != 'used' %}
        disabled" disabled="disabled
    {% endif %}
    " value="Samostatný odchod">
    <span class="formResult">✈</span>
</form>
