<div class="roleListItem" id="roleListItem-{{ p.id }}">
    {% if p.sfh %} ✓ {% else %} ❌ SFH ❌ {% endif %} |
    {{ p.firstname }} {{ p.lastname }} -
    {{ p.nickname }} |
    {% if p.patrolName %}{{ p.patrolName }} |{% endif %}
    {{ p.tieCode }} | 
    {% if date(p.birthDate.value) > date('2006-05-29') %}18+{% else %}17-{% endif %} |
    <button class="btn">Vstup</button>
</div>
